<template>
  <div>
    <div>
      <q-tab-panels v-model="tab" animated transition-prev="fade" transition-next="fade">
        <q-tab-panel name="pending" class="padding-0">
          <div v-if="dataState.length > 0">
            <pending
              :key="keyPending"
              ref="pending"
              :id="dataState[0].idEta"
              @size="sizePendiente"
              :open="show"
              @close="show = false"
              @notification="notification"
              @deleteNotification="deleteNotification"
              @save="save"
            />
          </div>
        </q-tab-panel>

        <q-tab-panel name="rejected" class="padding-0">
          <div v-if="dataState.length > 0">
            <rejected
              :key="keyRejected"
              ref="rejected"
              :id="dataState[1].idEta"
              @size="sizeRechazo"
              @save="save"
              @deleteNotification="deleteNotification"
            />
          </div>
        </q-tab-panel>

        <q-tab-panel name="unfulfilled" class="padding-0">
          <div v-if="dataState.length > 0">
            <unfulfilled
              ref="unfulfilled"
              :id="dataState[2].idEta"
              @size="sizeIncumplida"
              @save="save"
            />
          </div>
        </q-tab-panel>
      </q-tab-panels>

      <div class="fixed-bottom">
        <q-tabs v-model="tab" narrow-indicator dense align="justify" class="shadow-3 bg-white">
          <q-tab
            class="text-primary q-pt-sm q-pb-sm"
            name="pending"
            icon="fas fa-bell"
            label="Pendiente"
            @click="pen = !pen"
          />
          <q-tab
            class="text-red q-pt-sm q-pb-sm"
            name="rejected"
            icon="fas fa-times-circle"
            label="Rechazada"
          />
          <q-tab
            class="text-orange q-pt-sm q-pb-sm"
            name="unfulfilled"
            icon="fas fa-exclamation-circle"
            label="Incumplida"
          />
        </q-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import Pending from "./Pending";
import Rejected from "./Rejected";
import Unfulfilled from "./Unfulfilled";
import { URL_BASE, Result } from "../../Constant";
import Util from "../../mixin/Util";
export default {
  mixins: [Util],
  components: {
    Pending,
    Rejected,
    Unfulfilled
  },
  created() {},
  data: function() {
    return {
      pen: false,
      tab: "pending",
      dataState: this.$q.localStorage.getItem("state"),
      data: [],
      username: localStorage.getItem("username"),
      sizePending: 0,
      sizeRejected: 0,
      sizeUnfulfilled: 0,
      show: false,
      keyPending: 0,
      keyRejected: 0
    };
  },
  methods: {
    showPending() {
      this.$refs.pending.show();
    },
    showRejected() {
      this.$refs.rejected.show();
    },
    showUnfulfilled() {
      this.$refs.unfulfilled.show();
    },
    signOut() {
      var username = localStorage.getItem("name");
      var password = localStorage.getItem("password");
      localStorage.clear();
      this.$q.localStorage.clear();
      if (username && password) {
        localStorage.setItem("name", username);
        localStorage.setItem("password", password);
      }

      this.$router.push("Login");
    },
    sizePendiente(size) {
      this.sizePending = size;
    },
    sizeRechazo(size) {
      this.sizeRejected = size;
    },
    sizeIncumplida(size) {
      this.sizeUnfulfilled = size;
    },
    notification() {
      this.$http
        .get(
          URL_BASE + "notificaciones?idUsu=" + localStorage.getItem("idUser")
        )
        .then(response => {
          if (response.status == 200) {
            if (response.data.codigo == Result.SUCCESS) {
              var id = "";
              response.data.datos.map((item, index) => {
                id += item.idTarNap;
                if (index < response.data.datos.length - 1) id += ",";
              });
              let currentId = localStorage.getItem("notifications");
              if (currentId) {
                if (currentId.length > 0) {
                  id += "," + currentId;
                }
              }
              let arrayId = id.split(",");
              id = [...new Set(arrayId)];
              localStorage.setItem("notifications", id);
              this.keyPending += 1;
              this.keyRejected += 1;

              this.$http
                .delete(
                  URL_BASE +
                    "notificaciones?idUsu=" +
                    localStorage.getItem("idUser")
                )
                .then(res => {
                  if ((response.status = 200)) {
                    console.log("notificaciones eliminadas");
                  }
                })
                .catch(error => {
                  console.log(
                    "error al eliminar notificacions  : " + error.message
                  );
                });
            }
          } else {
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    save(date, idOption, idTask, componentName) {
      this.$q.loading.show();
      let d = (date += ":00");
      let config = {
        headers: {
          "Content-Type": "application/json"
        }
      };
      let model = {
        fechaCumplioTar: d,
        idFevTar: idOption,
        idTar: idTask,
        idEtaTar: 2,
        idUsuCumTar: localStorage.getItem("idUser")
      };

      this.$http
        .put(URL_BASE + "tarea", model, config)
        .then(response => {
          console.log(response);
          this.$q.loading.hide();
          if (
            response.status == 200 &&
            response.data.codigo == Result.SUCCESS
          ) {
            this.messageSucces(this, "Tarea actualizada correctamente");
            switch (componentName) {
              case "pending":
                this.$refs.pending.getData();
                break;
              case "rejected":
                this.$refs.rejected.getData();
                break;
              case "unfulfilled":
                this.$refs.unfulfilled.getData();
                break;
            }
          } else {
            this.messageError(this, "Error al actualizar datos");
          }
        })
        .catch(error => {
          console.log(error);
          this.$q.loading.hide();
          this.messageError(this, "Se ha producido un error");
        });
    },
    deleteNotification(item) {
      var notifications = localStorage.getItem("notifications");
      var changeNotification = [];
      if (notifications) {
        changeNotification = notifications.split(",");
        changeNotification.map((element, index) => {
          if (element == item.id) {
            changeNotification.splice(index, 1);
          }
        });
        var id = "";
        changeNotification.map((item, index) => {
          id += item;
          if (index < changeNotification.length - 1) id += ",";
        });
        let arrayId = id.split(",");
        id = [...new Set(arrayId)];
        localStorage.setItem("notifications", id);
      }
    }
  },
  mounted() {
    this.$root.$on("state", states => {
      this.dataState = states;
      console.log(states);
    });
    this.$root.$on("showPending", () => {
      this.tab = "pending";
    });
    this.$root.$on("showRejected", () => {
      this.tab = "rejected";
    });
  }
};
</script>

<style lang="stylus">
.task {
  margin: 0px;
  font-weight: bold;
  font-size: 30px;
}

.welcome {
  margin: 0px;
}
</style>
