<template>
  <div>
    <toolbar
      title="Tareas Pendientes"
      :user="username"
      :total-task="total"
      @hide="hide"
      @search="inputSearch"
    />
    <div class="q-mt-md">
      <list-item
        :key="keyPending"
        v-if="data"
        :data="data"
        :showDelay="showDelay"
        :search="searchValue"
        @detail="showDetail"
      />
      <div v-else>
        <div v-if="!loading">
          <img src="statics/img/task.jpg" alt="IMAGE_TASK" class="img-empty-data center-container" />
          <p class="q-ml-md text-center">No hay tareas pendientes</p>
        </div>
      </div>
    </div>

    <detail-task
      :key="keyDetail"
      ref="detail"
      title="Detalle pendiente"
      :values="values"
      :showButton="showButton"
      :showInput="showInput"
      :showPredecessors="showPredecessors"
      :task="idTask"
      @predecessors="predecessors"
      @save="save"
    />
  </div>
</template>

<script>
import Util from "../../mixin/Util";
import DetailTask from "../Common/DetailTask";
import Predecessors from "./Predecessors";
import Toolbar from "../Common/Toolbar";
import ListItem from "../Common/ListItem";
import { URL_BASE, Result } from "../../Constant";
export default {
  mixins: [Util],
  components: {
    Toolbar,
    DetailTask,
    Predecessors,
    ListItem
  },
  props: ["id", "open"],
  mounted() {},
  created() {
    this.getData();
  },
  data: function() {
    return {
      keyPending: 0,
      keyDetail: 0,
      idTask: 0,
      isShow: false,
      idUser: localStorage.getItem("idUser"),
      username: localStorage.getItem("username"),
      taskName: "",
      showInput: true,
      showButton: true,
      showPredecessors: true,
      searchValue: "",
      values: [],
      data: null,
      showDelay: false,
      total: 0,
      loading: true
    };
  },
  methods: {
    getData() {
      this.loading = true;
      if (this.$refs.detail) {
        this.$refs.detail.back();
      }
      this.$q.loading.show();
      this.$http
        .get(
          URL_BASE +
            "tarea/estado?idUsu=" +
            this.idUser +
            "&idEtaTar=" +
            this.id
        )
        .then(response => {
          if (response.status == 200) {
            this.data = this.formatData(response.data.datos);
            this.$emit("notification");
            if (this.data) {
              this.$emit("size", this.data.length);
              this.total = this.data.length;
              this.forceUpdate();
            } else {
              this.$emit("size", 0);
              this.total = 0;
            }
          } else {
            this.messageError(this, "Error al obtener datos");
          }
          this.$q.loading.hide();
          this.loading = false;
        })
        .catch(error => {
          console.log(error);
          this.messageError(this, "Se ha producido un error ");
          this.$q.loading.hide();
          this.loading = false;
        });
    },

    go() {
      this.$router.push("Home");
    },
    show() {
      this.getData();
      this.isShow = true;
    },
    hide() {
      this.isShow = false;
    },
    showDetail(item) {
      this.taskName = item.title;
      this.idTask = item.id;
      console.log("id task : " + this.idTask);
      this.values = this.formatItemDetail(
        localStorage.getItem("username"),
        item
      );

      this.$emit("deleteNotification", item);
      item.isNew = false;
      this.$refs.detail.show(item.id);
    },
    save(date, idOption) {
      this.$emit("save", date, idOption, this.idTask, "pending");
    },
    predecessors() {
      this.$refs.predecessors.show();
    },
    inputSearch(value) {
      this.searchValue = value;
    },
    forceUpdate() {
      this.keyPending += 1;
    }
  },
  watch: {
    open: function(newValue, oldValue) {
      if (newValue) {
        this.show();
        this.$emit("close");
      }
    }
  }
};
</script>

<style lang="stylus">
.container-username {
  display: flex;
}

.text-username {
  flex: 1;
}
</style>
