<template>
  <div>
    <div class="bg-primary">
      <q-toolbar class="bg-primary text-white">
        <q-btn flat round dense icon="arrow_back" class="q-mr-sm" @click="hide" />
        <q-toolbar-title>Tareas Predecesoras</q-toolbar-title>
      </q-toolbar>

      <q-list class="color-white q-pb-sm">
        <q-item>
          <q-item-section>
            <q-item-label>Tarea : {{task}}</q-item-label>
            <q-item-label caption class="color-white" lines="2">Usuario : {{username}}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </div>
    <div class="q-mt-md">
      <list-item :data="data" :showDelay="false" @detail="showDetail" :key="key" />
    </div>
    <detail-task
      ref="detail"
      title="Detalle Predecesora"
      :values="values"
      :showButton="showButton"
      :showInput="showInput"
      :showPredecessors="showPredecessors"
      :hideState="true"
    />
  </div>
</template>
<script>
import DetailTask from "../Common/DetailTask";
import Util from "../../mixin/Util";
import ListItem from "../Common/ListItem";
import { URL_BASE } from "../../Constant";
export default {
  props: ["task", "id"],
  mixins: [Util],
  components: {
    DetailTask,
    ListItem
  },
  data: function() {
    return {
      key: 0,
      search: "",
      isShow: false,
      username: localStorage.getItem("username"),
      showButton: false,
      showInput: true,
      showPredecessors: false,
      values: [],
      data: []
    };
  },
  created() {},
  methods: {
    getData() {
      this.$q.loading.show();
      this.$http
        .get(URL_BASE + "tarea/predecesoras?idTar=" + this.id)
        .then(response => {
          this.$q.loading.hide();
          if (response.status == 200) {
            this.data = this.formatData(response.data.datos);
            this.key += 1;
          } else {
            this.messageError(this, "Error al obtener datos");
          }
        })
        .catch(error => {
          console.log(error);
          this.$q.loading.hide();
          this.messageError(this, "Se ha producido un error ");
        });
    },
    back() {
      this.$emit("hide");
    },
    show() {
      this.isShow = true;
      this.getData();
      console.log(this.id + " SHOW");
    },
    hide() {
      this.isShow = false;
    },
    showDetail(item) {
      this.values = this.formatItemDetail(this.username, item);
      this.$refs.detail.show();
    }
  }
};
</script>