<template>
  <div>
    <toolbar
      title="Tareas Incumplidas"
      :user="username"
      :total-task="total"
      @hide="hide"
      @search="inputSearch"
    />
    <div class="q-mt-md">
      <list-item
        :key="key"
        v-if="data"
        :data="data"
        :showDelay="showDelay"
        @detail="showDetail"
        :search="searchValue"
      />
      <div v-else>
        <div v-if="!loading">
          <img
            src="statics/img/incumplida.jpg"
            alt="IMAGE_TASK"
            class="img-empty-data center-container"
          />
          <p class="q-ml-md text-center">No hay tareas incumplidas</p>
        </div>
      </div>
    </div>

    <detail-task
      ref="detail"
      title="Detalle Incumplida"
      :values="values"
      :showButton="true"
      :showInput="true"
      :showPredecessors="showPredecessors"
      :task="idTask"
      @predecessors="predecessors"
      @save="save"
    />
  </div>
</template>

<script>
import Util from "../../mixin/Util";
import Toolbar from "../Common/Toolbar";
import DetailTask from "../Common/DetailTask";
import Predecessors from "./Predecessors";
import ListItem from "../Common/ListItem";
import { URL_BASE } from "../../Constant";
export default {
  mixins: [Util],
  props: ["id"],
  components: {
    Toolbar,
    DetailTask,
    Predecessors,
    ListItem
  },
  created() {
    this.getData();
  },
  data: function() {
    return {
      key: 0,
      idTask: 0,
      isShow: false,

      idUser: localStorage.getItem("idUser"),
      username: localStorage.getItem("username"),
      showButton: false,
      showInput: false,
      showPredecessors: true,
      taskName: "",
      values: [],
      searchValue: "",
      data: null,
      showDelay: true,
      total: 0,
      loading: true
    };
  },
  methods: {
    getData() {
      this.$q.loading.show();
      this.loading = true;
      if (this.$refs.detail) {
        this.$refs.detail.back();
      }
      this.$http
        .get(
          URL_BASE +
            "tarea/estado?idUsu=" +
            this.idUser +
            "&idEtaTar=" +
            this.id
        )
        .then(response => {
          if (response.status == 200) {
            this.data = this.formatData(response.data.datos);

            if (this.data) {
              this.data.map(item => {
                item.isNew = false;
              });
              this.$emit("size", this.data.length);
              this.total = this.data.length;
              this.forceUpdate();
            } else {
              this.$emit("size", 0);
              this.total = 0;
            }
          } else this.messageError(this, "Error al obtener datos");
          this.$q.loading.hide();
          this.loading = false;
        })
        .catch(error => {
          console.log(error);
          this.messageError(this, "Se ha producido un error ");
          this.$q.loading.hide();
          this.loading = false;
        });
    },
    go() {
      this.$router.push("Home");
    },
    show() {
      this.isShow = true;
      this.getData();
    },
    hide() {
      this.isShow = false;
    },
    showDetail(item) {
      this.idTask = item.id;
      this.taskName = item.title;
      this.values = this.formatItemDetail(this.username, item);
      this.$refs.detail.show(item.id);
    },
    predecessors() {
      this.$refs.predecessors.show();
    },
    inputSearch(value) {
      this.searchValue = value;
    },
    forceUpdate() {
      this.key += 1;
    },
    save(date, idOption) {
      this.$emit("save", date, idOption, this.idTask, "unfulfilled");
    }
  }
};
</script>

<style lang="stylus">
.container-username {
  display: flex;
}

.text-username {
  flex: 1;
}
</style>
