<template class="parent">
  <div class="q-pa-md heigh-100vh parent">
    <div class="full-width container-form">
      <img
        src="statics/img/logo_ccr.jpg"
        alt="logo"
        srcset
        class="q-ma-md img-logo center-container"
      />
      <form action>
        <q-input
          ref="username"
          bottom-slots
          v-model="user.username"
          label="Usuario"
          :rules="[val => !!val || 'Ingrese nombre de usuario']"
          maxlength="30"
          class="full-width"
        >
          <template v-slot:before>
            <q-icon name="person" />
          </template>
        </q-input>
        <q-input
          ref="password"
          bottom-slots
          :type="isPwd ? 'password' : 'text'"
          v-model="user.password"
          label="Clave"
          :rules="[val => !!val || 'Ingrese su clave']"
          maxlength="30"
          class="full-width"
        >
          <template v-slot:before>
            <q-icon name="lock" />
          </template>
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>

        <q-btn
          color="primary"
          label="Ingresar"
          rounded
          @click="sendData"
          class="btn-login center-container q-mt-lg q-pa-xs"
        ></q-btn>
        <div class="q-mt-lg">
          <q-checkbox v-model="rememberPassword" label="Recordar clave" />
          <q-btn
            flat
            color="primary"
            label="¿Olvidó su clave?"
            class="float-right"
            @click="alert = true"
          ></q-btn>
        </div>
      </form>
    </div>
    <q-dialog v-model="alert">
      <q-card>
        <q-card-section>
          <div class="text-h6">Recuperar Clave</div>
        </q-card-section>
        <q-card-section>Contacte a su administrador para poder recuperar su clave.</q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Aceptar" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import Util from "../../mixin/Util";
import { URL_BASE, Result } from "../../Constant";
var md5 = require("md5");
export default {
  mixins: [Util],
  created() {
    if (localStorage.getItem("name") && localStorage.getItem("password")) {
      // this.user.username = localStorage.getItem("name");
      this.user.password = localStorage.getItem("password");
      this.rememberPassword = true;
    }
  },
  data: function() {
    return {
      name: "hola",
      isPwd: true,
      alert: false,
      user: {
        username: localStorage.getItem("codeSessionStarted")
          ? localStorage.getItem("codeSessionStarted")
          : "",
        password: ""
      },
      rememberPassword: false
    };
  },
  methods: {
    sendData() {
      this.$refs.username.validate();
      this.$refs.password.validate();
      if (this.$refs.username.hasError || this.$refs.password.hasError) {
        return;
      }

      if (
        localStorage.getItem("codeSessionStarted").toLowerCase() !=
        this.user.username.toLowerCase()
      ) {
        this.messageError(this, "No puede iniciar sesión con este usuario ");
        return;
      }
      let model = {
        codigoUsu: this.user.username,
        passwordUsu: this.reverse(md5(this.user.password))
      };
      this.$q.loading.show();
      let config = {
        headers: {
          "Content-Type": "application/json"
        }
      };

      this.$http
        .post(URL_BASE + "security/login", model, config)
        .then(response => {
          console.log(response);
          if (response.status == 200) {
            if (
              response.data.codigo == Result.SUCCESS &&
              response.data.datos.idUsu
            ) {
              var codeSessionStarted = localStorage.getItem(
                "codeSessionStarted"
              );
              var phone = localStorage.getItem("phone");
              var token = localStorage.getItem("token");
              localStorage.clear();
              localStorage.setItem("codeSessionStarted", codeSessionStarted);
              this.$q.localStorage.set("state", response.data.datos.estados);
              localStorage.setItem("idUser", response.data.datos.idUsu);
              localStorage.setItem("username", response.data.datos.nombreUsu);
              localStorage.setItem("phone", phone);
              localStorage.setItem("token", token);

              if (this.rememberPassword) {
                localStorage.setItem("password", this.user.password);
                localStorage.setItem("name", this.user.username);
              }

              this.$router.push("Task");
            } else this.messageError(this, "Credenciales incorrectas");
          } else this.messageError(this, "Se ha producido un error ");

          this.$q.loading.hide();
        })
        .catch(error => {
          this.messageError(this, "Error en la petición");
          this.$q.loading.hide();
        });
    }
  }
};
</script>
<style lang="stylus">
@import 'Style.styl';
</style>