<template>
  <div class="q-pa-md heigh-100vh parent">
    <div class="full-width container-form">
      <img
        src="statics/img/logo_ccr.jpg"
        alt="logo"
        srcset
        class="q-ma-md img-logo center-container"
      />
      <form action class="q-pa-sm q-mt-md">
        <q-input
          ref="phone"
          bottom-slots
          v-model="model.phone"
          label="Número de teléfono"
          :rules="[val => !!val || 'Ingrese su número de teléfono']"
          maxlength="30"
          class="full-width"
          mask="#### ####"
          type="tel"
        >
          <template v-slot:before>
            <q-icon name="fas fa-phone-alt" />
          </template>
        </q-input>

        <q-input
          ref="token"
          bottom-slots
          v-model="model.token"
          label="Token"
          :rules="[val => !!val || 'Ingrese su token']"
          maxlength="30"
          class="full-width"
        >
          <template v-slot:before>
            <q-icon name="fas fa-key" />
          </template>
        </q-input>

        <q-btn
          color="primary"
          label="Validar"
          rounded
          class="btn-login center-container q-mt-lg q-pa-xs"
          @click="valid"
        ></q-btn>
      </form>
    </div>
  </div>
</template>
<script>
import { URL_BASE, Result } from "../../Constant";
import Util from "../../mixin/Util";
export default {
  mixins: [Util],
  data: function() {
    return {
      model: {
        phone: localStorage.getItem("phone")
          ? localStorage.getItem("phone")
          : "",
        token: ""
      }
    };
  },
  methods: {
    valid() {
      this.$refs.phone.validate();
      this.$refs.token.validate();
      if (this.$refs.phone.hasError || this.$refs.token.hasError) {
        return;
      }
      this.$q.loading.show();
      this.model.phone = this.model.phone.split(" ").join("");
      this.$http
        .put(
          URL_BASE +
            "security/tieneApp?telefono=" +
            this.model.phone +
            "&token=" +
            this.model.token
        )
        .then(res => {
          if (res.data.codigo == Result.UPDATE) {
            this.messageSucces(this, "Validación correcta");
            localStorage.setItem("phone", this.model.phone);
            localStorage.setItem("token", this.model.token);
            localStorage.setItem("codeSessionStarted", res.data.datos);
            this.$router.push("Login");
          } else if (res.data.codigo == Result.EMPTY) {
            this.messageError(this, "Teléfono o token inválido");
          } else if (res.data.codigo == Result.SESSION_STARTED) {
            this.messageError(this, "Sesión vinculada con otro dispositivo");
          }
          this.$q.loading.hide();
        })
        .catch(error => {
          this.messageError(this, "Se ha producido un error, intente de nuevo");
          this.$q.loading.hide();
        });
    }
  },
  watch: {
    a: function(newVal, old) {
      console.log(newVal);
    }
  }
};
</script>

<style lang="stylus" scoped>
@import 'Style.styl';

.security-img {
  max-width: 150px;
  width: 100%;
}
</style>