// app global css in Sass form
.full-width
    width : 100%

.margin-auto
    margin: auto

.parent 
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  height: 100vh

.heigh-100vh
    height: 100vh

.center-container 
  display: block
  margin-left: auto
  margin-right: auto

.color-white
  color: #ffffff

.q-field--outlined.q-field--rounded .q-field__control 
   height: 40px

.q-field__marginal
  height: 40px

.width-100
  width:  100%
  max-width: 300px

.q-mt-50
  margin-top:  50px

.fixed-top
  z-index: 10

.img-empty-data
  width: 100%
  max-width: 450px

.padding-0
  padding: 0px

