<template>
  <div>
    <q-toolbar class="bg-primary text-white fixed-top">
      <q-btn flat round dense icon="close" class="q-mr-sm" @click="back" />
      <q-toolbar-title>{{title}}</q-toolbar-title>
      <q-btn flat dense label="Guardar" @click="save" v-if="showButton" />
    </q-toolbar>

    <q-list bordered separator class="q-mt-50">
      <q-item clickable class="q-pt-lg q-pb-lg" v-for="(item, index) in values" :key="index">
        <q-item-section>{{item.name}} : {{item.value}}</q-item-section>
      </q-item>
    </q-list>
    <div v-if="showInput">
      <!--    <q-input
        v-model="date"
        class="q-pr-md q-pl-md q-pt-md"
        mask="####-##-## ##:##"
        @click="  showDate = true"
      >
        <template v-slot:prepend>
          <q-icon name="event" class="cursor-pointer">
            <q-popup-proxy
              transition-show="scale"
              transition-hide="scale"
              v-model="showDate"
              @hide="showTime=true"
            >
              <q-date v-model="date" mask="YYYY-MM-DD HH:mm" />
            </q-popup-proxy>
          </q-icon>
        </template>

        <template v-slot:append>
          <q-icon name="access_time" class="cursor-pointer">
            <q-popup-proxy transition-show="scale" transition-hide="scale" v-model="showTime">
              <q-time v-model="date" mask="YYYY-MM-DD HH:mm" />
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>-->

      <q-btn
        icon="event"
        align="left"
        :label="labelDate"
        color="primary"
        class="q-pt-md q-pb-md full-width"
        flat
        @click="showDate = true"
      >
        <q-popup-proxy
          @show="showDate = true"
          transition-show="scale"
          transition-hide="scale"
          v-model="showTime"
          breakpoint="1024"
        >
          <q-time v-model="date" mask="YYYY-MM-DD HH:mm">
            <div class="row items-center justify-end q-gutter-sm">
              <q-btn label="Cancelar" color="primary" flat v-close-popup />
              <q-btn
                label="Aceptar"
                color="primary"
                flat
                @click="showTime = false; showDate = false"
                v-close-popup
              />
            </div>
          </q-time>
        </q-popup-proxy>
        <q-popup-proxy
          v-model="showDate"
          transition-show="scale"
          transition-hide="scale"
          breakpoint="1024"
        >
          <q-date v-model="date" mask="YYYY-MM-DD HH:mm">
            <div class="row items-center justify-end q-gutter-sm">
              <q-btn label="Cancelar" color="primary" flat v-close-popup />
              <q-btn label="Aceptar" color="primary" flat @click="showDate = false" v-close-popup />
            </div>
          </q-date>
        </q-popup-proxy>
      </q-btn>

      <q-select
        @click="showTime = false; showDate = false"
        v-model="modelOption"
        :options="data"
        label="Forma envio"
        class="q-pr-md q-pl-md"
      />
    </div>
  </div>
</template>
<script>
import Util from "../../mixin/Util";
import { URL_BASE } from "../../Constant";
export default {
  props: ["showButton", "values", "showInput", "title"],
  mixins: [Util],
  created() {
    this.getData();
  },
  data: function() {
    return {
      showDate: false,
      showTime: false,
      date: this.formatCurrentDate(),
      modelOption: {},
      data: [],
      labelDate: "Fecha cumplimiento : " + this.formatCurrentDate()
    };
  },
  methods: {
    back() {
      this.$emit("back");
    },
    getData() {
      this.$q.loading.show();
      this.$http
        .get(URL_BASE + "formaEnvio")
        .then(response => {
          if (response.status == 200) {
            this.data = this.format(response.data.datos);
          } else this.messageError(this, "Se ha producido un error ");
          this.$q.loading.hide();
        })
        .catch(error => {
          console.log(error);
          this.messageError(this, "Se ha producido un error ");
          this.$q.loading.hide();
        });
    },
    format(data) {
      let options = [];
      data.map(item => {
        let option = {};
        option.label = item.descripcionFev;
        option.value = item.idFev;
        options.push(option);
      });
      this.modelOption = options[0];
      return options;
    },
    save() {
      this.$emit("save", this.date);
    },
    formatDate() {
      this.date = this.formatCurrentDate();
    }
  },
  watch: {
    date: function(newValue, oldValue) {
      this.labelDate = "Fecha cumplimiento : " + newValue;
    }
  }
};
</script>