<template>
  <div>
    <q-dialog v-model="showDetail" maximized>
      <q-card>
        <content-detail
          :showButton="showButton"
          :values="values"
          :showInput="showInput"
          :title="title"
          @save="save"
          @back="back"
        />
        <q-list border class="q-mt-md q-mb-md" v-if="dataPredecessor" :key="key">
          <q-expansion-item
            icon="fas fa-clipboard-list"
            label="Ver Predecesoras"
            header-class="text-primary"
          >
            <q-card>
              <q-card-section class="-0">
                <list-item
                  class="padding-0"
                  :data="dataPredecessor"
                  :showDelay="false"
                  @detail="detailPredecessor"
                />
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </q-list>
      </q-card>
    </q-dialog>

    <q-dialog v-model="showDetailPredecessor" maximized>
      <q-card>
        <content-detail
          ref="content"
          :showButton="false"
          :values="valuesPredecessor"
          :showInput="false"
          title="Detalle Predecesora"
          @save="save"
          @back="backPredecessor"
        />
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import Util from "../../mixin/Util";
import { URL_BASE, Result } from "../../Constant";
import ListItem from "./ListItem";
import ContentDetail from "./ContentDetail";

export default {
  props: [
    "values",
    "title",
    "showButton",
    "showInput",
    "showPredecessors",
    "task",
    "hideState"
  ],
  mixins: [Util],
  components: {
    ListItem,
    ContentDetail
  },
  data: function() {
    return {
      key: 0,
      expanded: false,
      lang: this.$q.lang.isoName,
      send: "",
      showDetail: false,
      showDetailPredecessor: false,
      data: [],
      dataPredecessor: [],
      showTime: false,
      modelOption: {},
      valuesPredecessor: {},
      hideStateItem: this.hideState ? this.hideState : true
    };
  },
  created() {},
  methods: {
    getDataPredecessors(idTask) {
      this.$q.loading.show();
      this.$http
        .get(URL_BASE + "tarea/predecesoras?idTar=" + idTask)
        .then(response => {
          this.$q.loading.hide();
          if (
            response.status == 200 &&
            response.data.codigo == Result.SUCCESS
          ) {
            console.log(response);
            this.dataPredecessor = this.formatData(
              response.data.datos,
              this.hideStateItem
            );

            this.key += 1;
          } else {
            this.dataPredecessor = null;
          }
        })
        .catch(error => {
          console.log(error);
          this.$q.loading.hide();
          this.messageError(this, "Error en predecesoras");
        });
    },

    back() {
      this.showDetail = false;
    },
    backPredecessor() {
      this.showDetailPredecessor = false;
    },
    show(idTask) {
      this.showDetail = true;
      this.getDataPredecessors(idTask);
    },
    showList() {
      this.$emit("predecessors");
    },
    save(date) {
      this.$emit("save", date, this.modelOption.value);
    },

    detailPredecessor(item) {
      this.valuesPredecessor = this.formatItemDetail(
        item.subtitle[3].value,
        item
      );
      this.showDetailPredecessor = true;
    }
  },
  watch: {}
};
</script>
