<template>
  <div>
    <q-list separator style="margin-bottom : 72px">
      <q-item
        v-for="(item, index) in  dataList"
        :key="index"
        clickable
        @click="showDetail(item)"
        class="q-pt-md q-pb-md"
      >
        <q-item-section>
          <q-item-label lines="1">{{item.title}}</q-item-label>
          <q-item-label
            v-for="(subitem, subIndex) in item.subtitle"
            :key="subIndex"
            caption
            lines="1"
          >
            <span
              v-if="!subitem.show && subitem.name !='Usuario'"
            >{{subitem.name}} : {{subitem.value}}</span>
          </q-item-label>
        </q-item-section>
        <q-item-section side top v-if="showDelay">
          <q-item-label caption>Retraso</q-item-label>
          <q-badge color="orange" text-color="white" :label="getTime(item.subtitle[0].value2)" />
        </q-item-section>
        <q-chip v-if="item.isNew" color="green" text-color="white">Nuevo</q-chip>
      </q-item>
    </q-list>
  </div>
</template>
<script>
import Util from "../../mixin/Util";
export default {
  props: ["data", "showDelay", "search"],
  mixins: [Util],
  created() {
    console.log(this.data);
  },
  data: function() {
    return {
      dataList: this.data,
      allData: this.data
    };
  },
  methods: {
    showDetail(item) {
      console.log(item);
      this.$emit("detail", item);
    }
  },
  watch: {
    search: function(newValue, oldValue) {
      var tempData = [];
      if (newValue === "") {
        this.dataList = this.allData;
        return;
      }
      if (!this.allData) return;
      this.allData.map(item => {
        let title = item.title.toLowerCase();
        if (title.includes(newValue.toLowerCase())) {
          tempData.push(item);
        }
      });

      this.dataList = tempData;
    }
  }
};
</script>