<template>
  <div class="bg-primary q-mt-50">
    <q-toolbar class="bg-primary text-white fixed-top">
      <q-toolbar-title>{{title}}</q-toolbar-title>

      <q-btn color="primary" flat text-color="text-white" round icon="more_vert">
        <q-menu transition-show="jump-down" transition-hide="jump-up">
          <q-list style="min-width: 100px">
            <q-item clickable @click="signOut">
              <q-item-section>Salir</q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-btn>
    </q-toolbar>

    <div class="container-username text-white q-pa-sm q-mt-md q-ml-sm q-mr-sm">
      <div class="text-username">Usuario : {{user}}</div>
      <div class>Total : {{totalTask}} tareas</div>
    </div>

    <q-input
      rounded
      outlined
      v-model="search"
      placeholder="Buscar"
      bg-color="white"
      class="q-pa-sm q-ml-sm q-mr-sm"
      @input="inputSearch"
    >
      <template v-slot:prepend>
        <q-icon name="search" />
      </template>
    </q-input>
  </div>
</template>
<script>
export default {
  props: ["title", "user", "totalTask"],
  data: function() {
    return {
      search: ""
    };
  },
  methods: {
    back() {
      this.$emit("hide");
    },
    inputSearch(value) {
      this.$emit("search", value);
    },
    signOut() {
      var username = localStorage.getItem("name");
      var password = localStorage.getItem("password");
      var idSessionStarted = localStorage.getItem("codeSessionStarted");
      localStorage.clear();
      this.$q.localStorage.clear();
      if (username && password) {
        localStorage.setItem("name", username);
        localStorage.setItem("password", password);
      }
      localStorage.setItem("codeSessionStarted", idSessionStarted);
      this.$router.push("Login");
    }
  }
};
</script>