<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import { URL_BASE, Result } from "./Constant";
import Util from "./mixin/Util";
export default {
  name: "App",
  data() {
    return {};
  },
  mounted() {
    this.$root.$on("STATUSBAR_BLUE", () => {
      this.statusBarBlue();
    });
  },
  created() {
    var isForeground = true;
    if (!localStorage.getItem("codeSessionStarted")) {
      this.$router.push("");
    } else {
      this.$router.push("Login");
    }
    if (localStorage.getItem("idUser")) {
      this.$router.push("Task");
    }

    document.addEventListener(
      "resume",
      () => {
        isForeground = true;
      },
      false
    );

    document.addEventListener(
      "pause",
      () => {
        isForeground = false;
      },
      false
    );
    if(window.cordova){
            window.plugins.sim.requestReadPermission(
      success => {
        window.plugins.sim.getSimInfo(
          response => {
            localStorage.setItem("phone", response.phoneNumber);
          },
          error => {}
        );  
      },
      error => {
        cordova.plugins.exit();
      }
    );

    }

    var context = this;
    document.addEventListener(
      "deviceready",
      () => {
        var BackgroundFetch = window.BackgroundFetch;
        var fetchCallback = function() {
          context.getData(true);
          /*   var timestamp = new Date().getUTCMilliseconds();
          cordova.plugins.notification.local.schedule([
            { id: timestamp, title: "Test notification" }
          ]); */
          BackgroundFetch.finish();
          if (!isForeground) {
            location.reload();
          }
        };
        var failureCallback = function(error) {
          console.log("- BackgroundFetch failed", error);
        };

        BackgroundFetch.configure(fetchCallback, failureCallback, {
          minimumFetchInterval: 15
        });
      },
      false
    );
    if(window.cordova){
  cordova.plugins.notification.local.on("click", notification => {
      if (notification.title == "Nueva tarea asignada") {
        this.$root.$emit("showPending");
      } else {
        this.$root.$emit("showRejected");
      }
    });
    }
  
  },
  methods: {
    getData(showNotifi) {
      if (!localStorage.getItem("idUser")) return;

      this.$http
        .get(
          URL_BASE + "notificaciones?idUsu=" + localStorage.getItem("idUser")
        )
        .then(response => {
          if (response.status == 200) {
            if (response.data.codigo == Result.SUCCESS) {
              var id = "";
              response.data.datos.map((item, index) => {
                id += item.idTarNap;
                if (index < response.data.datos.length - 1) id += ",";
              });

              let currentId = localStorage.getItem("notifications");
              if (currentId) {
                if (currentId.length > 0) {
                  id += "," + currentId;
                }
              }
              let arrayId = id.split(",");
              id = [...new Set(arrayId)];
              localStorage.setItem("notifications", id);

              if (showNotifi) {
                this.showNotifications(response.data.datos);
              }
              this.$http
                .delete(
                  URL_BASE +
                    "notificaciones?idUsu=" +
                    localStorage.getItem("idUser")
                )
                .then(res => {
                  if ((response.status = 200)) {
                    console.log("notificaciones eliminadas");
                  }
                })
                .catch(error => {
                  console.log(
                    "error al eliminar notificacions  : " + error.message
                  );
                });
            }
          } else {
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    statusBarDark() {
      if (window.cordova) {
        StatusBar.show()
       
      }
    },
    statusBarBlue() {
      if (window.cordova) {
        StatusBar.show()
        StatusBar.backgroundColorByHexString("#303F9F");
      }
    },
    sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },
    showNotifications(data) {
      let notification = [];
      if (data.length > 1) {
        notification.push({
          id: 0,
          title: "Tareas",
          group: "Task",
          groupSummary: true
        });
      }
      data.map(item => {
        let element = {};
        element.id = item.idNap;
        if (element.id_eta_tar == 1) {
          element.title = "Nueva tarea asignada";
        } else if (element.id_eta_tar == 3) {
          element.title = "Tarea rechazada";
        } else {
          element.title = "Tarea";
        }
        element.text = item.descripcionAct;
        element.group = "Task";
        notification.push(element);
      });
      cordova.plugins.notification.local.schedule(notification);
    }
  },
  watch: {
    $route(to, from) {
      console.log(to.path);
      if (
        !localStorage.getItem("idUser") &&
        to.path != "/Login" &&
        to.path != "/"
      ) {
        this.statusBarDark();
        this.$router.push("Login");
      }
      if (to.path == "/Login" || to.path == "/") {
        if (localStorage.getItem("idUser")) {
          this.$router.push("Task");
        } else {
          this.statusBarDark();
        }
      }
      if (to.path == "/Task") {
        //  this.getData(false);
        this.statusBarBlue();
      }
      if (to.path == "/") {
        if (localStorage.getItem("codeSessionStarted")) {
          this.$router.push("Login");
        }
      }
    }
  }
};
</script>
